body {
    background-color: black ;
}
.con {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: -25px;
  }

header img {
    width: 100%;
    object-fit: cover;
    object-position: center ;
}

.hlavni-nadpis {
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


h2 {
    background-color: #001b69;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

h3 {
    color: #002fbd;
}

#nazev, {
    padding-top: 5px;
}

#vlajka, #znak {
    padding-top: 5px;
    text-align: center;
}


.udalosti
{
    display: none;
    padding-bottom: 5px;
}

.udalosti-title {
    color: white;
    background-color: #002fbd;
    padding: 5px;
}

.udalosti-title:hover {
    cursor: pointer;
}   